/.vs/
/.obj/
/obj/
/.bin/
/bin/
/C#-GUI-Frameworks/BlazorWebPage/BlazorWebPage/Client/obj/Debug/net6.0/compressed
/C#-GUI-Frameworks/BlazorWebPage/BlazorWebPage/Client/obj/Debug/net6.0/ref
/C#-GUI-Frameworks/BlazorWebPage/BlazorWebPage/Client/obj/Debug/net6.0/refint
/C#-GUI-Frameworks/BlazorWebPage/BlazorWebPage/Client/obj/Debug/net6.0/blazor.boot.json
/C#-GUI-Frameworks/BlazorWebPage/BlazorWebPage/Client/obj/Debug/net6.0/blazor.build.boot-extension.json
/C#-GUI-Frameworks/BlazorWebPage/BlazorWebPage/Client/obj/Debug/net6.0/BlazorWe.AD428A0E.Up2Date
/C#-GUI-Frameworks/BlazorWebPage/BlazorWebPage/Client/obj/Debug/net6.0/BlazorWebPage.Client.AssemblyInfo.cs
/C#-GUI-Frameworks/BlazorWebPage/BlazorWebPage/Client/obj/Debug/net6.0/BlazorWebPage.Client.AssemblyInfoInputs.cache
/C#-GUI-Frameworks/BlazorWebPage/BlazorWebPage/Client/obj/Debug/net6.0/BlazorWebPage.Client.assets.cache
/C#-GUI-Frameworks/BlazorWebPage/BlazorWebPage/Client/obj/Debug/net6.0/BlazorWebPage.Client.csproj.AssemblyReference.cache
/C#-GUI-Frameworks/BlazorWebPage/BlazorWebPage/Client/obj/Debug/net6.0/BlazorWebPage.Client.csproj.BuildWithSkipAnalyzers
/C#-GUI-Frameworks/BlazorWebPage/BlazorWebPage/Client/obj/Debug/net6.0/BlazorWebPage.Client.csproj.CoreCompileInputs.cache
/C#-GUI-Frameworks/BlazorWebPage/BlazorWebPage/Client/obj/Debug/net6.0/BlazorWebPage.Client.csproj.FileListAbsolute.txt
/C#-GUI-Frameworks/BlazorWebPage/BlazorWebPage/Client/obj/Debug/net6.0/BlazorWebPage.Client.dll
/C#-GUI-Frameworks/BlazorWebPage/BlazorWebPage/Client/obj/Debug/net6.0/BlazorWebPage.Client.GeneratedMSBuildEditorConfig.editorconfig
/C#-GUI-Frameworks/BlazorWebPage/BlazorWebPage/Client/obj/Debug/net6.0/BlazorWebPage.Client.MvcApplicationPartsAssemblyInfo.cache
/C#-GUI-Frameworks/BlazorWebPage/BlazorWebPage/Client/obj/Debug/net6.0/BlazorWebPage.Client.pdb
/C#-GUI-Frameworks/BlazorWebPage/BlazorWebPage/Client/obj/Debug/net6.0/project.razor.json
/C#-GUI-Frameworks/BlazorWebPage/BlazorWebPage/Client/obj/Debug/net6.0/project.razor.vs.bin
/C#-GUI-Frameworks/BlazorWebPage/BlazorWebPage/Client/obj/Debug/net6.0/service-worker-assets.js.build
/C#-GUI-Frameworks/BlazorWebPage/BlazorWebPage/Client/obj/Debug/net6.0/staticwebassets.build.json
/C#-GUI-Frameworks/BlazorWebPage/BlazorWebPage/Client/obj/Debug/net6.0/staticwebassets.development.json
/C#-GUI-Frameworks/BlazorWebPage/BlazorWebPage/Client/obj/Debug/net6.0/staticwebassets.pack.json
/C#-GUI-Frameworks/BlazorWebPage/BlazorWebPage/Client/obj/Debug/net6.0
/C#-GUI-Frameworks/BlazorWebPage/BlazorWebPage/Client/obj/BlazorWebPage.Client.csproj.nuget.dgspec.json
/C#-GUI-Frameworks/BlazorWebPage/BlazorWebPage/Client/obj/BlazorWebPage.Client.csproj.nuget.g.props
/C#-GUI-Frameworks/BlazorWebPage/BlazorWebPage/Client/obj/project.assets.json
/C#-GUI-Frameworks/BlazorWebPage/BlazorWebPage/Client/obj/project.nuget.cache
/C#-GUI-Frameworks/BlazorWebPage/BlazorWebPage/Client/obj/staticwebassets.pack.sentinel
/C#-GUI-Frameworks/BlazorWebPage/BlazorWebPage/Server/obj/Debug/net6.0
/C#-GUI-Frameworks/BlazorWebPage/BlazorWebPage/Shared/obj/Debug/net6.0/ref
/C#-GUI-Frameworks/BlazorWebPage/BlazorWebPage/Shared/obj/Debug/net6.0/refint
/C#-GUI-Frameworks/BlazorWebPage/BlazorWebPage/Shared/obj/BlazorWebPage.Shared.csproj.nuget.dgspec.json
/C#-GUI-Frameworks/BlazorWebPage/BlazorWebPage/Shared/obj/BlazorWebPage.Shared.csproj.nuget.g.props
/C#-GUI-Frameworks/BlazorWebPage/BlazorWebPage/Shared/obj/Debug/net6.0/BlazorWebPage.Shared.AssemblyInfoInputs.cache
/C#-GUI-Frameworks/BlazorWebPage/BlazorWebPage/Shared/obj/Debug/net6.0/BlazorWebPage.Shared.assets.cache
/C#-GUI-Frameworks/BlazorWebPage/BlazorWebPage/Shared/obj/Debug/net6.0/BlazorWebPage.Shared.csproj.AssemblyReference.cache
/C#-GUI-Frameworks/BlazorWebPage/BlazorWebPage/Shared/obj/Debug/net6.0/BlazorWebPage.Shared.csproj.BuildWithSkipAnalyzers
/C#-GUI-Frameworks/BlazorWebPage/BlazorWebPage/Shared/obj/Debug/net6.0/BlazorWebPage.Shared.csproj.CoreCompileInputs.cache
/C#-GUI-Frameworks/BlazorWebPage/BlazorWebPage/Shared/obj/Debug/net6.0/BlazorWebPage.Shared.csproj.FileListAbsolute.txt
/C#-GUI-Frameworks/BlazorWebPage/BlazorWebPage/Shared/obj/Debug/net6.0/BlazorWebPage.Shared.dll
/C#-GUI-Frameworks/BlazorWebPage/BlazorWebPage/Shared/obj/Debug/net6.0/BlazorWebPage.Shared.genruntimeconfig.cache
/C#-GUI-Frameworks/BlazorWebPage/BlazorWebPage/Shared/obj/Debug/net6.0/BlazorWebPage.Shared.pdb
/C#-GUI-Frameworks/BlazorWebPage/BlazorWebPage/Shared/obj/project.assets.json
/C#-GUI-Frameworks/BlazorWebPage/BlazorWebPage/Shared/obj/Debug/net6.0/BlazorWebPage.Shared.AssemblyInfo.cs
/C#-GUI-Frameworks/BlazorWebPage/BlazorWebPage/Shared/obj/project.nuget.cache
/C#-GUI-Frameworks/BlazorWebPage/.vs
/C#-GUI-Frameworks/BlazorWebPage/BlazorWebPage/Server/obj/BlazorWebPage.Server.csproj.nuget.dgspec.json
/C#-GUI-Frameworks/BlazorWebPage/BlazorWebPage/Server/obj/BlazorWebPage.Server.csproj.nuget.g.props
/C#-GUI-Frameworks/BlazorWebPage/BlazorWebPage/Server/obj/project.assets.json
/C#-GUI-Frameworks/BlazorWebPage/BlazorWebPage/Server/obj/project.nuget.cache
/C#-GUI-Frameworks/BlazorWebPage/BlazorWebPage/Server/obj/staticwebassets.pack.sentinel
/C#-GUI-Frameworks/BlazorWebPage/BlazorWebPage/Server/appsettings.json
/C#-GUI-Frameworks/BlazorWebPage/BlazorWebPage/.vs
/C#-GUI-Frameworks/BlazorWebPage/BlazorWebPage/Shared/obj/BlazorWebPage.Shared.csproj.nuget.g.targets
/C#-GUI-Frameworks/BlazorWebPage/BlazorWebPage/Client/bin/Debug/net8.0
/C#-GUI-Frameworks/BlazorWebPage/BlazorWebPage/Client/obj/Debug/net8.0
/C#-GUI-Frameworks/BlazorWebPage/BlazorWebPage/Server/bin/Debug/net8.0
