@page "/"
<PageTitle>Index</PageTitle>

@inject HttpClient Http
@inject IJSRuntime JS
@using BlazorWebPage.Shared

<article class="content">

    <h1>Hello, wor... Blazor!</h1>

    Esta es una página de prueba

    <SurveyPrompt Title="Es esto una página de prueba?" />
</article>

<div class="grafica">
    <div id="chart">
        <LineChart @ref="lineChart" Width="800" Class="mb-4" />
    </div>
</div>

<style>
    .grafica {
        display: flex;
        width: 100%;
        margin-top: 5%;
    }

    #chart {
        display: flex;
        position: relative;
        margin: auto;
    }
</style>
